################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GUI/obj
/GUI/bin/Debug/net8.0-windows
/CLI/server.cpp
/GUI/.vs/ChatClientGUICS
/GUI/bin/Debug/net9.0-windows7.0
