################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GUI/obj
/GUI/.vs
/GUI/bin/Debug/net8.0-windows
/GUI/bin/Debug/net9.0-windows7.0
/GUI/bin/Release/net9.0-windows7.0
